@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 80px;
    height: 100px;
}

.container {
    max-width: 80%;
    max-height: auto;
    min-height: 570px;
    margin: auto;
    margin-top: 42px;
    display: flex;
}

.images-area {
    flex: 0.5;
    margin-right: 5px;
    max-width: 20%;
    background-color: rgb(163, 157, 157);
}

.drop-area {
    flex: 0.5;
    margin-left: 5px;
    margin-right: 10px;
    background-color: #C9E4C5;
}


.inner-container {

    color: black;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
}

.container img {
    margin: 10px 10px;
    max-width: calc(100% - 20px);
    max-height: 100%;

}